/*
 * SPDX-FileCopyrightText: 2024 German Aerospace Center (DLR) *
 * SPDX-License-Identifier: Apache-2.0
 */

body {
  background: #f8f8f8;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

/* If this class is applied to an element with scrollable content the scrollbar is invisible, but scrolling is still
 * possible. */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #543cf0 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #543cf0;
  border-radius: 13px;
  border: 3px solid transparent;
}

/* New CSS class for different heights in Firefox and Edge for the CmpartmentsRow listItem */
/* Firefox */
@-moz-document url-prefix() {
  .row {
    height: 45px;
  }
}

/* Chrome, Edge, and Safari */
.row {
  height: 40px;
}

/* New CSS class for different PaddingTop in Firefox and Edge for aligning the sync scroling row in all the components */
/* Firefox */
@-moz-document url-prefix() {
  .datepicker-paddingTop {
    padding-top: 24px;
  }
}

.datepicker-paddingTop {
  padding-top: 19px;
}
